@font-face {
    font-family: 'Graphik';
    src: url('../../shared/assets/fonts/GraphikLCG-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../../shared/assets/fonts/GraphikLCG-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../../shared/assets/fonts/GraphikLCG-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Graphik';
    color: rgb(25, 28, 31);
}

.container {
    padding: 0 352px;
}

@media (width < 1920px) {
    .container {
        padding: 0 252px;
    }
}

@media (width <= 1440px) {
    .container {
        padding: 0 152px;
    }
}

@media (width <= 1024px) {
    .container {
        padding: 0 82px;
    }
}

@media (width <= 768px) {
    .container {
        padding: 0 20px;
    }
}

@media (width <= 375px) {
    .container {
        padding: 0 16px;
    }
}
