.faq {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.faq h4 {
    padding-bottom: 41px;
    color: rgb(25, 28, 31);
    font-size: 40px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
}
.faq-item {
    max-width: 1008px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;
    cursor: pointer;
}
.link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(236, 239, 242);
    padding: 24px 0;
    z-index: 10;
}
.link a {
    position: relative;
    color: rgb(25, 28, 31);
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}

.faq-item_content {
    max-height: 0;
    opacity: 0;
    color: rgb(94, 100, 106);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    transition: all 0.2s linear;
}
.faq-item_content.active {
    padding-bottom: 24px;
    max-height: 100%;
    opacity: 1;
    color: rgb(94, 100, 106);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}
.link span {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (width <= 768px) {
    .link {
        gap: 20px;
        padding: 16px 0;
        align-items: flex-start;
    }
    .link span {
        padding-top: 8px;
        min-width: 24px;
        min-height: 24px;
    }
    .link a {
        max-width: 765px;
    }
}

@media (width <= 375px) {
    .faq h4 {
        font-size: 24px;
        line-height: 32px;
    }
}
