.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
}

.nav {
    padding: 28px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links ul {
    display: flex;
    align-self: start;
    align-items: center;
    gap: 24px;
}
.links ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size 0.3s ease-in-out;
    cursor: pointer;
}

.links ul li:hover {
    color: #ffffff;
    background-size: 100% 1px;
}
.links ul li a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.links ul li div {
    display: none;
}
.info {
    margin-top: 233px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info h1 {
    max-width: 748px;
    font-size: 52px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
}
.info p {
    margin: 18px 0 92px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
}
.info button {
    position: relative;
    width: 251px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px 20px 40px;
    border-radius: 4px;
    background: rgb(236, 239, 242);
    color: rgb(25, 28, 31);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}
.info button:hover {
    background-color: rgb(42, 108, 234);
    color: #ffffff;
}

.open,
.close {
    display: none;
}

@media (width <= 1024px) {
    .nav {
        padding: 0;
    }
    .nav.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 0 82px;
        flex-direction: column;
        justify-content: start;
        background: #ffffff;
        z-index: 10000;
    }
    .menu {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 10001;
    }
    .open {
        width: 62px;
        height: 62px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .open img {
        width: 22px;
        height: 12px;
    }
    .nav.active .close {
        width: 62px;
        height: 62px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .links {
        display: none;
    }
    .nav.active .open {
        display: none;
    }
    .nav.active .close {
        display: flex;
    }
    .nav.active .links {
        width: 100%;
        display: flex;
        flex-direction: column;
        color: black;
    }
    .links ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .links ul li {
        width: 100%;
        justify-content: space-between;
        color: black;
        cursor: pointer;
        text-decoration: none;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0px;
        border-top: 1px solid rgb(236, 239, 242);
    }
    .links ul li a {
        color: rgb(131, 137, 143);
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0%;
        text-align: left;
    }
    .links ul li div {
        width: 62px;
        height: 62px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .links ul li div img {
        width: 24px;
        height: 24px;
    }
    .links ul li:hover {
        background-size: 0px;
    }
}

@media (width <= 768px) {
    .nav.active {
        padding: 0 20px;
    }
    .info h1 {
        max-width: 476px;
        font-size: 32px;
        line-height: 40px;
    }
    .info p {
        margin: 17px 0 40px 0;
        font-size: 16px;
        line-height: 28px;
    }
}

@media (width <= 375px) {
    .nav.active {
        padding: 0 16px;
    }
    .info {
        max-width: 288px;
        align-self: center;
    }
    .info h1 {
        font-size: 24px;
        line-height: 32px;
    }
    .info p {
        margin: 10px 0 26px 0;
    }
}

@media (height <= 500px) {
    .info {
        margin-top: 40px;
    }
    .info h1 {
        max-width: 476px;
        font-size: 32px;
        line-height: 40px;
    }
    .info p {
        margin: 17px 0 40px 0;
        font-size: 16px;
        line-height: 28px;
    }
}