* {
    padding: 0;
    margin: 0;
    border: none;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
a,
a:link,
a:visited,
a:hover {
    text-decoration: none;
}
aside,
nav,
footer,
header,
section,
main {
    display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}
ul,
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
img,
svg {
    max-width: 100%;
    height: auto;
}
address {
    font-style: normal;
}
input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}
input::-ms-clear {
    display: none;
}
button,
input[type='submit'] {
    display: inline-block;
    box-shadow: none;
    cursor: pointer;
}
input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
label {
    cursor: pointer;
}
legend {
    display: block;
}
@font-face {
    font-family: Graphik;
    src: url('./GraphikLCG-Regular-Co_Y4w3J.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Graphik;
    src: url('./GraphikLCG-Medium-n_fMQGn0.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Graphik;
    src: url('./GraphikLCG-Semibold-DRp0X2nE.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Graphik;
    color: #191c1f;
}
.container {
    padding: 0 352px;
}
@media (width < 1920px) {
    .container {
        padding: 0 252px;
    }
}
@media (width <= 1440px) {
    .container {
        padding: 0 152px;
    }
}
@media (width <= 1024px) {
    .container {
        padding: 0 82px;
    }
}
@media (width <= 768px) {
    .container {
        padding: 0 20px;
    }
}
@media (width <= 375px) {
    .container {
        padding: 0 16px;
    }
}
._header_1qcd8_1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}
._nav_1qcd8_21 {
    padding: 28px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
._links_1qcd8_33 ul {
    display: flex;
    align-self: start;
    align-items: center;
    gap: 24px;
}
._links_1qcd8_33 ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size 0.3s ease-in-out;
    cursor: pointer;
}
._links_1qcd8_33 ul li:hover {
    color: #fff;
    background-size: 100% 1px;
}
._links_1qcd8_33 ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
._links_1qcd8_33 ul li div {
    display: none;
}
._info_1qcd8_101 {
    margin-top: 233px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
._info_1qcd8_101 h1 {
    max-width: 748px;
    font-size: 52px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
}
._info_1qcd8_101 p {
    margin: 18px 0 92px;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
}
._info_1qcd8_101 button {
    position: relative;
    width: 251px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    border-radius: 4px;
    background: #eceff2;
    color: #191c1f;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}
._info_1qcd8_101 button:hover {
    background-color: #2a6cea;
    color: #fff;
}
._open_1qcd8_191,
._close_1qcd8_193 {
    display: none;
}
@media (width <= 1024px) {
    ._nav_1qcd8_21 {
        padding: 0;
    }
    ._nav_1qcd8_21._active_1qcd8_209 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 0 82px;
        flex-direction: column;
        justify-content: start;
        background: #fff;
        z-index: 10000;
    }
    ._menu_1qcd8_233 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 10001;
    }
    ._open_1qcd8_191 {
        width: 62px;
        height: 62px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    ._open_1qcd8_191 img {
        width: 22px;
        height: 12px;
    }
    ._nav_1qcd8_21._active_1qcd8_209 ._close_1qcd8_193 {
        width: 62px;
        height: 62px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    ._links_1qcd8_33,
    ._nav_1qcd8_21._active_1qcd8_209 ._open_1qcd8_191 {
        display: none;
    }
    ._nav_1qcd8_21._active_1qcd8_209 ._close_1qcd8_193 {
        display: flex;
    }
    ._nav_1qcd8_21._active_1qcd8_209 ._links_1qcd8_33 {
        width: 100%;
        display: flex;
        flex-direction: column;
        color: #000;
    }
    ._links_1qcd8_33 ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    ._links_1qcd8_33 ul li {
        width: 100%;
        justify-content: space-between;
        color: #000;
        cursor: pointer;
        text-decoration: none;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0px;
        border-top: 1px solid rgb(236, 239, 242);
    }
    ._links_1qcd8_33 ul li a {
        color: #83898f;
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0%;
        text-align: left;
    }
    ._links_1qcd8_33 ul li div {
        width: 62px;
        height: 62px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    ._links_1qcd8_33 ul li div img {
        width: 24px;
        height: 24px;
    }
    ._links_1qcd8_33 ul li:hover {
        background-size: 0px;
    }
}
@media (width <= 768px) {
    ._nav_1qcd8_21._active_1qcd8_209 {
        padding: 0 20px;
    }
    ._info_1qcd8_101 h1 {
        max-width: 476px;
        font-size: 32px;
        line-height: 40px;
    }
    ._info_1qcd8_101 p {
        margin: 17px 0 40px;
        font-size: 16px;
        line-height: 28px;
    }
}
@media (width <= 375px) {
    ._nav_1qcd8_21._active_1qcd8_209 {
        padding: 0 16px;
    }
    ._info_1qcd8_101 {
        max-width: 288px;
        align-self: center;
    }
    ._info_1qcd8_101 h1 {
        font-size: 24px;
        line-height: 32px;
    }
    ._info_1qcd8_101 p {
        margin: 10px 0 26px;
    }
}
@media (height <= 500px) {
    ._info_1qcd8_101 {
        margin-top: 40px;
    }
    ._info_1qcd8_101 h1 {
        max-width: 476px;
        font-size: 32px;
        line-height: 40px;
    }
    ._info_1qcd8_101 p {
        margin: 17px 0 40px;
        font-size: 16px;
        line-height: 28px;
    }
}
._how-it-work_132oj_1 {
    margin-top: 80px;
    margin-bottom: 80px;
    color: #191c1f;
}
._how-it-work_132oj_1 h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
}
._elements_132oj_25 {
    margin-top: 61px;
    display: flex;
    gap: 32px;
    align-items: center;
}
._element_132oj_25 {
    width: 280px;
    height: 164px;
    display: flex;
    flex-direction: column;
}
._element_132oj_25 img {
    width: 72px;
    height: 72px;
}
._element_132oj_25 h3 {
    margin-top: 16px;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
._element_132oj_25 p {
    color: #5e646a;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
@media (width <= 768px) {
    ._how-it-work_132oj_1 {
        margin-top: 56px;
        margin-bottom: 56px;
    }
    ._elements_132oj_25 {
        flex-wrap: wrap;
        gap: 32px 34px;
    }
    ._element_132oj_25 {
        width: 342px;
        height: 76px;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: 16px;
    }
    ._element_132oj_25 h3 {
        margin: 0;
    }
}
@media (width < 768px) {
    ._elements_132oj_25 {
        margin-top: 26px;
        justify-content: center;
        align-items: center;
    }
}
@media (width <= 375px) {
    ._how-it-work_132oj_1 h2 {
        font-size: 24px;
        line-height: 32px;
    }
    ._elements_132oj_25 {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 32px 34px;
    }
}
@media (width <= 320px) {
    ._element_132oj_25 {
        height: auto;
    }
}
._third-block_1k1hs_1 {
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
._info_1k1hs_15 {
    max-width: 592px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
._info_1k1hs_15 h3 {
    color: #191c1f;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
}
._info_1k1hs_15 > div {
    display: flex;
    flex-direction: column;
    gap: 44px;
    color: #5e646a;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}
@media (width <= 768px) {
    ._third-block_1k1hs_1 {
        margin-bottom: 56px;
    }
    ._info_1k1hs_15 h3 {
        font-size: 20px;
        line-height: 24px;
    }
    ._info_1k1hs_15 > div {
        font-size: 16px;
        line-height: 28px;
    }
    ._third-block_1k1hs_1 img {
        width: 351px;
    }
}
@media (width <= 600px) {
    ._third-block_1k1hs_1 {
        flex-direction: column-reverse;
    }
    ._info_1k1hs_15 h3 {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }
    ._info_1k1hs_15 > div {
        font-size: 16px;
        line-height: 28px;
        text-align: center;
    }
}
._container_1e9w9_1 {
    padding: 0 352px;
}
._slider_1e9w9_7 {
    padding-top: 57px;
    padding-bottom: 50px;
    background: #f6f8fa;
    display: flex;
    flex-direction: column;
}
._slider_1e9w9_7 h2 {
    margin-top: 57px;
    color: #191c1f;
    font-size: 40px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
}
._carousel-wrapper_1e9w9_39 {
    max-width: 1215px;
    position: relative;
}
._carousel-container_1e9w9_47 {
    max-width: 1183px;
    display: flex;
    align-items: center;
}
._carousel_1e9w9_39 {
    position: relative;
    width: 100%;
    padding: 32px 0 50px 64px;
    overflow: hidden;
}
._slides_1e9w9_73 {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 32px;
    transition: transform 0.5s;
}
._carousel-container_1e9w9_47 > img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}
._arrow_1e9w9_99 {
    position: absolute;
    z-index: 10;
}
._next_1e9w9_107 {
    transform: rotate(180deg);
    right: 0;
}
._review_1e9w9_117 {
    flex: 0 0 33.3%;
    max-width: 341px;
    height: 316px;
    padding: 22px;
    display: flex;
    flex-direction: column;
    color: #191c1f;
    border-radius: 8px;
    box-shadow: 0 5px 24px #0000001a;
    background: #fff;
    transition: opacity 0.8s;
}
._review-header_1e9w9_145 {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 16px;
}
._review-header_1e9w9_145 > img {
    width: 44px;
    height: 44px;
}
._review-header_1e9w9_145 > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
._name_1e9w9_175 {
    color: #191c1f;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
._city_1e9w9_193 {
    color: #5e646a;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
}
._desc_1e9w9_211 {
    color: #191c1f;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
._pagination_1e9w9_229 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
}
._pagination-element_1e9w9_245 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    cursor: pointer;
}
@media (width < 1920px) {
    ._container_1e9w9_1 {
        padding: 0 252px;
    }
    ._slider_1e9w9_7 {
        align-items: center;
        padding-bottom: 45px;
    }
    ._carousel_1e9w9_39 {
        padding-left: 32px;
    }
    ._review_1e9w9_117 {
        flex: 0 0 calc(50% - 32px);
        max-width: none;
    }
}
@media (width <= 1440px) {
    ._container_1e9w9_1 {
        padding: 0 152px 45px;
    }
}
@media (width <= 1024px) {
    ._container_1e9w9_1 {
        padding: 0 82px 45px;
    }
}
@media (width <= 1100px) {
    ._container_1e9w9_1 {
        padding: 0 0 45px;
    }
    ._slider_1e9w9_7 {
        align-items: normal;
    }
    ._slider_1e9w9_7 h2 {
        margin-top: 33px;
    }
    ._slides_1e9w9_73 {
        gap: 24px;
    }
    ._carousel_1e9w9_39 {
        padding-left: 20px;
    }
    ._arrow_1e9w9_99 {
        display: none;
    }
    ._review_1e9w9_117 {
        flex: 0 0 calc(50% - 24px);
        max-width: none;
    }
}
@media (width <= 600px) {
    ._carousel_1e9w9_39 {
        padding-left: 16px;
    }
    ._review_1e9w9_117 {
        flex: 0 0 calc(100% - 16px);
    }
    ._slides_1e9w9_73 {
        gap: 0px;
    }
}
@media (width <= 375px) {
    ._slider_1e9w9_7 h2 {
        font-size: 24px;
        line-height: 32px;
    }
    ._review_1e9w9_117 {
        height: auto;
    }
}
._faq_fnmxg_1 {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
._faq_fnmxg_1 h4 {
    padding-bottom: 41px;
    color: #191c1f;
    font-size: 40px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
}
._faq-item_fnmxg_35 {
    max-width: 1008px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}
._link_fnmxg_53 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(236, 239, 242);
    padding: 24px 0;
    z-index: 10;
}
._link_fnmxg_53 a {
    position: relative;
    color: #191c1f;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}
._faq-item_content_fnmxg_89 {
    max-height: 0;
    opacity: 0;
    color: #5e646a;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    transition: all 0.2s linear;
}
._faq-item_content_fnmxg_89._active_fnmxg_111 {
    padding-bottom: 24px;
    max-height: 100%;
    opacity: 1;
    color: #5e646a;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}
._link_fnmxg_53 span {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (width <= 768px) {
    ._link_fnmxg_53 {
        gap: 20px;
        padding: 16px 0;
        align-items: flex-start;
    }
    ._link_fnmxg_53 span {
        padding-top: 8px;
        min-width: 24px;
        min-height: 24px;
    }
    ._link_fnmxg_53 a {
        max-width: 765px;
    }
}
@media (width <= 375px) {
    ._faq_fnmxg_1 h4 {
        font-size: 24px;
        line-height: 32px;
    }
}
._financial_lzx6a_1 {
    padding-top: 68px;
    padding-bottom: 68px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 37px 32px;
    background-color: #f6f8fa;
}
._card_lzx6a_21 {
    width: 592px;
    color: #191c1f;
    letter-spacing: 0%;
    text-align: left;
}
._card_lzx6a_21 h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
}
._card_lzx6a_21 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
@media (width <= 1920px) {
    ._financial_lzx6a_1 {
        gap: 37px 15px;
    }
}
@media (width <= 768px) {
    ._financial_lzx6a_1 {
        gap: 20px;
    }
    ._card_lzx6a_21 {
        width: auto;
        display: flex;
        flex-direction: column;
        gap: 46px;
    }
}
@media (width <= 375px) {
    ._financial_lzx6a_1 {
        gap: 20px;
    }
    ._card_lzx6a_21 {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }
}
._form_13wxj_1 {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
._form_13wxj_1 h2 {
    margin-bottom: 44px;
    color: #191c1f;
    font-size: 40px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
}
._form_13wxj_1 form {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 32px;
}
._checkbox_13wxj_51,
._submit_13wxj_53,
._input-container_13wxj_55 {
    width: 384px;
}
._checkbox_13wxj_51 {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #191c1f;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}
._checkbox_13wxj_51 > input {
    width: 24px;
    height: 24px;
}
._submit_13wxj_53 {
    padding: 20px 40px;
    border-radius: 4px;
    background-color: #2a6cea;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}
._error_13wxj_117 {
    position: absolute;
    bottom: -23px;
    color: red;
}
._input-container_13wxj_55 {
    position: relative;
    height: 64px;
    border: 2px solid rgb(246, 248, 250);
    border-radius: 4px;
    background: #f6f8fa;
}
._input_13wxj_55 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
    padding: 16px;
}
._label_13wxj_161 {
    position: absolute;
    pointer-events: none;
    left: 16px;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    line-height: 60px;
    transition: 0.3s;
    color: #5e646a;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: left;
}
._input_13wxj_55:focus ~ ._label_13wxj_161,
._input-container_13wxj_55._active_13wxj_195 ._label_13wxj_161 {
    top: -8px;
    font-size: 14px;
    color: #83898f;
}
._input_13wxj_55:focus,
._input-container_13wxj_55._active_13wxj_195 ._input_13wxj_55 {
    padding: 28px 16px 4px;
    border-radius: 4px;
    background: #fff;
}
._input-container_13wxj_55:has(._input_13wxj_55:focus) {
    border: 2px solid rgb(194, 200, 205);
}
._input-container_13wxj_55._active_13wxj_195 {
    background: #fff;
}
._input-container_13wxj_55._error-border_13wxj_231 {
    border: 2px solid #f13636 !important;
}
._input-container_13wxj_55 img {
    position: absolute;
    right: 16px;
    top: 20px;
}
@media (width = 768px) {
    ._input-container_13wxj_55,
    ._checkbox_13wxj_51,
    ._submit_13wxj_53 {
        width: 352px;
    }
    ._form_13wxj_1 form {
        justify-content: center;
    }
}
@media (width < 800px) {
    ._form_13wxj_1 {
        padding: 56px 20px;
    }
    ._input-container_13wxj_55,
    ._checkbox_13wxj_51,
    ._submit_13wxj_53 {
        width: 100%;
    }
}
@media (width <= 375px) {
    ._form_13wxj_1 {
        padding: 56px 16px;
    }
    ._form_13wxj_1 h2 {
        margin-bottom: 30px;
        font-size: 24px;
        line-height: 32px;
    }
}
._footer_i517p_1 {
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(236, 239, 242);
    color: #191c1f;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
}
